@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Flex:opsz@8..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&family=Oxygen&family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');

body {
    font-family: 'Cabin', sans-serif;
    font-size: medium;
    background: lightcyan;
    color: black;

}

.nav-list{
    width: 50%;
    background-color: lightblue;
    display: flex;
    align-self: center;
    margin: 10px;
    border-color: black;
    border-style: inherit;
    
}

.nav-list li {
    list-style: none;
    padding: 21px 20px;
    align-items: center;
}

.nav-list li a {
    text-decoration: none;
    color: black;
    align-items: center;
}